<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>People | Tasks</title>
	<link rel="stylesheet" href="https://global.mbmcauliffe.net/global.css" crossorigin="anonymous">
	<script type="text/javascript" src='https://global.mbmcauliffe.net/global.js'  crossorigin="anonymous" defer></script>
	<script type="text/javascript" src='./people.js' defer></script>
	<link rel="icon" type="image/x-icon" href="/img/favicon.png">
</head>

<body>
	<script>0</script> <!-- Firefox Bug Fix -->

	<header>
		<a href="/" style="background-image: url('/img/logo.png');height:2em;width:4.57em;background-size: cover;"></a>
		<div class="flexRow">
			<a class="button type2" href="/" >Tasks</a>
			<div class="button type2" onclick="logout()">Log Out</div>
		</div>
	</header>

	<main>
		
		<div class="flexRow" style="height: 3em; width: 100%; border-bottom: 0.2em solid var(--color1); justify-content: center; flex-shrink: 0;">
			<input type="text" id='emailInput' autofocus style="width:30%; border: 0.1em solid var(--color1)" placeholder="Invite By Email Address" onkeydown="return inviteKey(event.key);">
			<div class="button" style="height:1.1em; line-height: 1.1em;margin-left:1em" onclick="submitPost()">Invite</div>
		</div>

		<% if ( locals.people.length != 0 ) { // Display the table if there are any people %>

		<div class="tableWrapper">
			<table>

				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th class="desktopOnly" >Email Address</th>
						<th>Can Share With Me</th>
						<th>Remove</th>
					</tr>
				</thead>

				<tbody>
					
					<% for ( i=0; i<locals.people.length; i++ ) { // Display with first and last name each person approved by the user and themselves %>

						<tr>
							<td><%= locals.people[i].firstName %></td>
							<td><%= locals.people[i].lastName %></td>
							<td class="desktopOnly" ><%= locals.people[i].email %></td>
							<td><input type="checkbox" name="canShare" id="canShare" <% if ( locals.people[i].canShare === true ) { %>checked<% } %>><label class="toggle" for="canShare" onclick="placeFetch('/people', 'PATCH', { id: '<%= locals.people[i].id %>', value: !document.getElementById('canShare').checked }, ()=>{} )"><div class="toggleCircle"></div></label></td>
							<td><div class="button red" onclick="placeFetch( '/people', 'DELETE', { id: '<%= locals.people[i].id %>' }, ()=>{window.location.replace('/people')} );">Remove</div></td>
						</tr>

					<% } %>

				</tbody>
				
			</table>
		</div>

		<% } %>

	</main>

	<footer>Copyright &copy; 2022, Michael B McAuliffe</footer>

	<div id='errorBlock'>
		<div></div>
		<div class='errorText'>
			<div id="errorTitle" class='errorTitle'></div>
			<div id="errorMessage" class='errorMessage'></div>
		</div>
		<div class='deleteSymbol' onclick='dismissError();' style='height:1em; width:1em'></div>
	</div>

</body>

</html>