<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>People | Tasks</title>
	<link rel="stylesheet" href="https://global.mbmcauliffe.net/global.css" crossorigin="anonymous">
	<script type="text/javascript" src='https://global.mbmcauliffe.net/global.js'  crossorigin="anonymous" defer></script>
	<script type="text/javascript" src='./people.js' defer></script>
	<link rel="icon" type="image/x-icon" href="/img/favicon.png">
</head>

<body>

	<header>
		<div></div>
		<div class="flexRow">
			<a class="button type2" href="/" >Tasks</a>
			<div class="button type2" onclick="logout()">Log Out</div>
		</div>
	</header>

	<main>
		
		<div class="flexRow" style="height: 3em; width: 100%; border-bottom: 0.2em solid var(--color1); justify-content: center; flex-shrink: 0;">
			<input type="text" id='emailInput' autofocus style="width:30%; border: 0.1em solid var(--color1)" placeholder="Invite By Email Address" onkeydown="return inviteKey(event.key);">
			<div class="button" style="height:1.1em; line-height: 1.1em;margin-left:1em" onclick="submitPost()">Invite</div>
		</div>

		<% if ( locals.pending.length != 0 || locals.invited.length != 0 ) { // Display the pending/invited table if there are any pending or invited people %>

			<div class="tableWrapper">
				<table>

					<thead>
						<tr>
							<th>Email Address</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
					</thead>

					<tbody>
						
						<% for ( i=0; i<locals.pending.length; i++ ) { // Display each table row showing a pending person only by their email address %>

							<tr>
								<td><%= locals.pending[i] %></td>
								<td>Pending</td>
								<td style="display: flex; justify-content:space-evenly">
									<div class="button green" onclick="approvePending('<%= locals.pending[i] %>')">Approve</div>
									<div class="button red" onclick="removePending('<%= locals.pending[i] %>')">Reject</div>
								</td>
							</tr>

						<% } %>

						<% for ( i=0; i<locals.invited.length; i++ ) { // Display each table row showing an invited person only by their email address %>

							<tr>
								<td><%= locals.invited[i] %></td>
								<td>Invited</td>
								<td><div class="button red" onclick="removePending('<%= locals.invited[i] %>')">Withdraw</div></td>
							</tr>

						<% } %>

					</tbody>
					
				</table>
			</div>

		<% } %>

		<div class="tableWrapper">
			<table>

				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email Address</th>
						<th>Action</th>
					</tr>
				</thead>

				<tbody>
					
					<% for ( i=0; i<locals.people.length; i++ ) { // Display with first and last name each person approved by the user and themselves %>

						<tr>
							<td><%= locals.people[i].firstName %></td>
							<td><%= locals.people[i].lastName %></td>
							<td><%= locals.people[i].email %></td>
							<td><div class="button red" onclick="removePerson( '<%= locals.people[i].id %>' )">Remove</div></td>
						</tr>

					<% } %>

				</tbody>
				
			</table>
		</div>

	</main>

	<footer>Copyright &copy; 2022, Michael B McAuliffe</footer>

	<div id='errorBlock'>
		<div></div>
		<div class='errorText'>
			<div id="errorTitle" class='errorTitle'></div>
			<div id="errorMessage" class='errorMessage'></div>
		</div>
		<div class='deleteSymbol' onclick='dismissError();' style='height:1em; width:1em'></div>
	</div>

</body>

</html>