<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tasks</title>
	<link rel="stylesheet" href="https://global.mbmcauliffe.net/global.css" crossorigin="anonymous">
	<script type="text/javascript" src='https://global.mbmcauliffe.net/global.js'  crossorigin="anonymous" defer></script>
	<script type="text/javascript" src="./tasks.js" defer></script>
	<link rel="icon" type="image/x-icon" href="/img/favicon.png">
	<input type="hidden" value="<%= user.id %>" id="userId">
</head>

<style type="text/css">
	.inputBlock{
		width: 95%;
	}
	.overdue{
		background:red;
		color:white;
		font-weight:bold
	}
</style>

<body>
	<script>0</script> <!-- Firefox Bug Fix -->

	<header>
		<a href="/" style="background-image: url('/img/logo.png');height:2em;width:4.57em;background-size: cover;"></a>
		<div class="flexRow">
			<div class="button" onclick="raisePrompt('titleInput')">New Task</div>
			<a class="button type2" href="/people" >People</a>
			<div class="button type2" onclick="logout()">Log Out</div>
		</div>
	</header>

	<main>
		<% if ( locals.tasks.length != 0 ) { // Show the show completed button if one or more tasks exist that list the user as a person %>
			<div style="min-width: 60vw; max-width: 90vw; margin:0 auto; display: flex;">
				<div class="button type2" id="completionButton" onclick="showCompleted()">Show Completed</div>
			</div>
		<% } %>
		
		<div class="tableWrapper">
			<table style="min-width: 60vw">

				<thead>
					<% if ( locals.tasks.length == 0 ) { // Show a banner indicating that no tasks exist that have the user listed as a person %>
						<tr>
							<th style="color:var(--color1);background-color: white;border-top: 0.1em solid var(--color1);border-bottom: 0.1em solid var(--color1);">No Tasks Currently Exist</th>
						</tr>
					<% } else { // Render the header row of the table %>
						<tr>
							<th>Title</th>
							<th>Description</th>
							<th>Status</th>
							<th>Time Remaining</th>
						</tr>
					<% } %>
				</thead>

				<tbody>
					
					<% for ( i=0; i<locals.tasks.length; i++ ) { // Render the data rows of the table from the tasks object provided by the server %>

						<tr class="hasLink<% if ( locals.tasks[i].status == "Complete" ) { %> complete" style="display:none<% } %>" onclick="editTask('<%= locals.tasks[i].id %>');">
							<td id="<%= 'title' + locals.tasks[i].id %>"><%= locals.tasks[i].title %></td>
							<td id="<%= 'description' + locals.tasks[i].id %>"><%= locals.tasks[i].description %></td>
							<td id="<%= 'status' + locals.tasks[i].id %>" <% if ( locals.tasks[i].status == "Overdue"){ %>class="overdue"<% } %> ><%= locals.tasks[i].status %></td>
							<td id="<%= 'timeRemaining' + locals.tasks[i].id %>"><%= locals.tasks[i].timeRemaining %></td>
						</tr>

						<input type="hidden" id="taskData<%= locals.tasks[i].id %>" value='<%= JSON.stringify(locals.tasks[i]) %>'>

					<% } %>

				</tbody>
				
			</table>
		</div>

	</main>

	<footer>Copyright &copy; 2022, Michael B McAuliffe</footer>

	<div id="promptBox">

		<div class='promptHeading' id="promptHeading">New Task</div>

		<div class="promptScrollBox">

			<div>
				<div class='inputBlock' onkeydown="return enterHandling(event.key);">
					<div>Title: *</div>
					<input type="text" id='titleInput'>
				</div>

				<div class='inputBlock' id="createdByBlock" style="display: none">
					<div>Created By: <div id="createdBy"></div></div>
				</div>

				<div class='inputBlock' onkeydown="return enterHandling(event.key);">
					<div>Description:</div>
					<input type="text" id='descriptionInput'>
				</div>

				<div class='inputBlock' onkeydown="return enterHandling(event.key);">
					<div>Start Date: *</div>
					<input type="datetime-local" id='startDateInput'>
				</div>

				<div class='inputBlock' onkeydown="return enterHandling(event.key);">
					<div>End Date: *</div>
					<input type="datetime-local" id='endDateInput'>
				</div>

				<div class='inputBlock' id="statusSelectBlock" style="display: none" onkeydown="return enterHandling(event.key);">
					<div>Status:</div>
					<select id="statusSelect">

						<option value="" selected>- Select -</option>
						<option value="Complete">Complete</option>
						<option value="Incomplete">Incomplete</option>

					</select>
				</div>

				<div class='inputBlock' id="peopleBlock" onkeydown="return addPeople(event.key);" <% if ( locals.people.length == 0 ) { %>style="display:none"<% } %>>
					<div>People:</div>

					<div class="flexRow">
						<select id="personSelect">

							<option value="" selected>- Select -</option>

							<% for ( i=0; i<locals.people.length; i++ ) { if ( locals.people[i].canBeSharedWith === true ) { // Add each person who is available to be added to the task to the people select %>
								<option value="<%= locals.people[i].id %>"><%= locals.people[i].firstName + " " + locals.people[i].lastName + " ( " + locals.people[i].email + " )"%></option>
							<% } } %>

						</select>
						<div class="button" style="margin:0; margin-left: 0.5em" onclick="addPerson()">Add</div>
					</div>

					<div class="flexRow" style="justify-content: flex-start" id="person<%= locals.user.id %>">
						<div class="button red" onclick="removePerson( '<%= locals.user.id %>' )">Remove</div>
						<div><%= locals.user.firstName + " " + locals.user.lastName %></div>
					</div>

					<% for ( i=0; i<locals.people.length; i++ ) { // For each person on the task already or available to be added to the task, add an indicator that can be used to show them as being on the task %>

						<div class="flexRow" style="justify-content: flex-start; display:none" id="person<%= locals.people[i].id %>">
							<div class="button red" onclick="removePerson( '<%= locals.people[i].id %>' )">Remove</div>
							<div><%= locals.people[i].firstName + " " + locals.people[i].lastName + " ( " + locals.people[i].email + " )"%></div>
						</div>

					<% } %>

				</div>
			</div>
			
		</div>

		<div style='display:flex;padding-top:1em;flex-shrink:0; justify-content: space-between; width:100%'>

			<div class="flexRow">
				<div class='button' onclick="submitPost();">Save</div>
				<div class='button type2' onClick="closeTaskEdit()">Cancel</div>
			</div>

			<div class='button red' style="display: none" id="deleteTaskButton" onclick="placeFetch( '/', 'DELETE', { id: task.id } )">Delete Task</div>
			
		</div>

	</div>

	<div id='errorBlock'>
		<div></div>
		<div class='errorText'>
			<div id="errorTitle" class='errorTitle'></div>
			<div id="errorMessage" class='errorMessage'></div>
		</div>
		<div class='deleteSymbol' onclick='dismissError();' style='height:1em; width:1em'></div>
	</div>

</body>

</html>