<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Task Manager</title>
	<link rel="stylesheet" href="https://global.mbmcauliffe.net/global.css" crossorigin="anonymous">
	<script type="text/javascript" src='https://global.mbmcauliffe.net/global.js'  crossorigin="anonymous" defer></script>
	<script type="text/javascript" src="./tasks.js" defer></script>
	<link rel="icon" type="image/x-icon" href="/img/favicon.png">
	<input type="hidden" value="<%= user.id %>" id="userId">
</head>

<style type="text/css">
	.inputBlock{
		width: 95%;
	}
</style>

<body>
	<script>0</script> <!-- Firefox Bug Fix -->

	<header>
		<div></div>
		<div class="flexRow">
			<div class="button" onclick="raisePrompt('titleInput')">New Task</div>
			<a class="button type2" href="/people" >People</a>
			<div class="button type2" onclick="logout()">Log Out</div>
		</div>
	</header>

	<main>
		
		<div class="tableWrapper">
			<table style="min-width: 60vw">

				<thead>
					<% if ( locals.tasks.length == 0 ) { %>
						<tr>
							<th>No Tasks Currently Exist</th>
						</tr>
					<% } else { %>
						<tr>
							<th>Title</th>
							<th>Description</th>
							<th>Status</th>
							<th>Time Remaining</th>
						</tr>
					<% } %>
				</thead>

				<tbody>
					
					<% for ( i=0; i<locals.tasks.length; i++ ) { %>

						<tr class="hasLink" onclick="editTask('<%= locals.tasks[i].id %>');" >
							<td id="<%= 'title' + locals.tasks[i].id %>"><%= locals.tasks[i].title %></td>
							<td id="<%= 'description' + locals.tasks[i].id %>"><%= locals.tasks[i].description %></td>
							<td id="<%= 'status' + locals.tasks[i].id %>"><%= locals.tasks[i].status %></td> <!-- Sort Array by Status -> end date -> title -->
							<td id="<%= 'timeRemaining' + locals.tasks[i].id %>"><%= locals.tasks[i].timeRemaining %></td>
						</tr>

						<input type="hidden" id="taskData<%= locals.tasks[i].id %>" value='<%= JSON.stringify(locals.tasks[i]) %>'>

					<% } %>

				</tbody>
				
			</table>
		</div>

	</main>

	<footer>Copyright &copy; 2022, Michael B McAuliffe</footer>

	<div id="promptBox">

		<div class='promptHeading' id="promptHeading">New Task</div>

		<div class="promptScrollBox">

			<div>
				<div class='inputBlock' onkeydown="return enterHandling(event.key);">
					<div>Title: *</div>
					<input type="text" id='titleInput'>
				</div>

				<div class='inputBlock' onkeydown="return enterHandling(event.key);">
					<div>Description:</div>
					<input type="text" id='descriptionInput'>
				</div>

				<div class='inputBlock' onkeydown="return enterHandling(event.key);">
					<div>Start Date:</div>
					<input type="date" id='startDateInput'>
				</div>

				<div class='inputBlock' onkeydown="return enterHandling(event.key);">
					<div>End Date: *</div>
					<input type="date" id='endDateInput'>
				</div>

				<div class='inputBlock' onkeydown="return enterHandling(event.key);">
					<div>End Time:</div>
					<select id="timeSelect">

						<option value="00:00:00" selected>- Select -</option>
						<option value="06:00:00">6:00 AM</option>
						<option value="06:30:00">- 6:30 AM</option>
						<option value="07:00:00">7:00 AM</option>						
						<option value="07:30:00">- 7:30 AM</option>
						<option value="08:00:00">8:00 AM</option>						
						<option value="08:30:00">- 8:30 AM</option>
						<option value="09:00:00">9:00 AM</option>						
						<option value="09:30:00">- 9:30 AM</option>
						<option value="10:00:00">10:00 AM</option>						
						<option value="10:30:00">- 10:30 AM</option>
						<option value="11:00:00">6:00 AM</option>						
						<option value="11:30:00">- 6:30 AM</option>
						<option value="12:00:00">12:00 PM</option>						
						<option value="12:30:00">- 12:30 PM</option>
						<option value="13:00:00">1:00 PM</option>						
						<option value="13:30:00">- 1:30 PM</option>
						<option value="14:00:00">2:00 PM</option>						
						<option value="14:30:00">- 2:30 PM</option>
						<option value="15:00:00">3:00 PM</option>						
						<option value="15:30:00">- 3:30 PM</option>
						<option value="16:00:00">4:00 PM</option>						
						<option value="16:30:00">- 4:30 PM</option>
						<option value="17:00:00">5:00 PM</option>						
						<option value="17:30:00">- 5:30 PM</option>
						<option value="18:00:00">6:00 PM</option>						
						<option value="18:30:00">- 6:30 PM</option>

					</select>
				</div>

				<div class='inputBlock' id="peopleBlock" onkeydown="return addPeople(event.key);">
					<div>People:</div>

					<div class="flexRow">
						<select id="personSelect">

							<option value="" selected>- Select -</option>

							<% for ( i=0; i<locals.people.length; i++ ) { %>
								<option value="<%= locals.people[i].id %>"><%= locals.people[i].firstName + " " + locals.people[i].lastName + " ( " + locals.people[i].email + " )"%></option>
							<% } %>

						</select>
						<div class="button" style="margin:0; margin-left: 0.5em" onclick="addPerson()">Add</div>
					</div>

					<div><%= user.firstName + " " + user.lastName %></div>

				</div>
			</div>
			
		</div>

		<div style='display:flex;padding-top:1em;flex-shrink:0'>

			<div class='button' onclick="submitPost();">Save</div>
			<div class='button type2' onClick="closeTaskEdit()">Cancel</div>
			
		</div>

	</div>

	<div id='errorBlock'>
		<div></div>
		<div class='errorText'>
			<div id="errorTitle" class='errorTitle'></div>
			<div id="errorMessage" class='errorMessage'></div>
		</div>
		<div class='deleteSymbol' onclick='dismissError();' style='height:1em; width:1em'></div>
	</div>

</body>

<script type="text/javascript">
	const date = new Date().toLocaleString('en-US', { timezone: Intl.DateTimeFormat().resolvedOptions().timeZone });
	document.getElementById("startDateInput").value = new Date(date.split(", ")[0]).toISOString().split("T")[0];
</script>

</html>